html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-weight: 100;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.h1 {
	color: #fff;
}

.navbar {
	background: rgba(252,90,44,.89);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}

#app, .container {
	height: 100%;
    width: 100%;
}

.home-container {
	display: flex;
    align-items: center;
	height: 100%;
    width: 100%;
    background-size: cover;
    flex-direction: column;
    padding-top: 100px;
    background-image: url('images/pattern.svg');
}

.home-container {
	color: #fff;
}

.forecast-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
    font-size: 24px;
}

.txt-center {
	text-align: center;
}

.btn-success {
	margin: 10px;
	color: #fff;
	background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-info {
	margin: 10px;
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header {
    font-size: 60px;
    font-weight: 100;
    text-align: center;
}

.city-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.weather-icon {
	width: 150px;
	height: 150px;
	padding-bottom: 30px;
}

.details-container {
	display: flex;
	justify-content: space-evenly;
	font-size: 24px;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 30px;
	margin: auto;
	width: 50%;
	padding: 20px;
}

.daily-weather {
	border: 1px solid #fff;
	border-radius: 30px;
	padding: 20px;
}

.daily-weather:hover {
	border: 1px solid #ddd;
	border-radius: 30px;
	padding: 20px;
	cursor: pointer;
}

.details-container .daily-weather:hover {
	border-color: #fff;
}
